<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shopping</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/cart/shopping-cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-danger" >
                  <%=// typeof TotalProducts != 'undefined'?TotalProducts:'' %> 
                </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
                <%= user?user.username:'' %> 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (!user) { %>
                <li><a class="dropdown-item" href="/users/login"><i class="fas fa-user-plus"></i> Sign In</a></li>
                <li><a class="dropdown-item" href="/users/register"><i class="fas fa-sign-in-alt"></i> Sign Up</a></li>
              <% } else{%>
                <li><a class="dropdown-item" href="/users/profile"><i class="fas fa-address-card"></i> Profile</a></li>
                <li><a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> LogOut</a></li>
                <% } %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>